/* Default settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

ul,
ol,
menu {
    list-style: none;

}

img {
    width: 100%;
}


a {
    text-decoration: none;
    color: currentColor;
    display: inline-block;
}
/* palette colori */

:root {
    --blue:#0084FD;
    --light-blue:#B5DDFF;
    --purple:#9792E4;
    --yellow:#FDC15F;
    --dark-grey:#333333;
    --light:#FFFFFF;

}
/* layouts */

.container {
    max-width: 1164px;
    margin: 0 auto;
}

.container-medium {
    max-width: 1050px;
    margin: 0 auto;
}

.container-small {
    max-width: 880px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}


.col, *[class^='col-'] {
    padding: 12px; 
}

.col-2 {
    flex-basis: calc((100% / 12) * 2);
}

.col-4 {
    flex-basis: calc((100% / 12) * 4);
}

.col-6 {
    flex-basis: calc((100% / 12) * 6);
}

.col-8 {
    flex-basis: calc((100% / 12) * 8);
}

.col-12 {
    flex-basis: calc((100% / 12) * 12);
}

/* utility classes */

.no-padding {
    padding: 0; 
}

.fluid {
    height: 100%;
}

/* component classes */

.button {
    color: black;
    line-height: 40px;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    padding: 0 18px;
}

/* header */
.page-header {
    background-color: var(--blue);
}

.navbar-list {
    display: flex;
    gap: 22px;
    align-items: center;
}

.page-header .row {
    justify-content: space-between;
    align-items: center;
}

.ham-icon {
    display: none; 
    color: white; 
    font-size: 20px; 
}

/*Hero*/

.card {
    background-color: var(--light-blue);
    border-radius: 20px;
    height: 100%; 
}

.card-title {
    line-height: 2em;
    color: var(--blue); 
    padding: 15px 10px; 
    text-align: center;
}

.card-text {
    font-weight: 700;
    padding: 15px 10px; 
}

.img {
    display: block; 
    width: 250px;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.card-icon {
    font-size: 100px; 
    color: var(--blue);
    padding-top: 20px; 
}

.hero .col-4 {
    text-align: center;
}

/*Section planning*/

.planning {
    background-color: var(--purple);
    padding: 80px 0px 50px 0px; 
}

.white-text {
    color: var(--light)
}

.planning .card-title {
    text-align: left; 
}

.white-card {
    background-color: var(--light);
}

.planning .col-6 {
    padding-left: 18px; 
    padding-right: 18px; 
}

.col-wide {
    padding: 100px 18px 0px 18px; 
}

.planning .card, .planning .card .card-title {
    text-align: center;
    color: black;
}

/*Section partners*/

.purple-card {
    background-color: var(--purple);
    padding: 10px; 
}

.partners .col-2 {
    aspect-ratio: 1;
    overflow: hidden;
}

.round {
    border-radius: 100%;
    height: 100%;
}

cite {
    text-transform: uppercase;
    font-weight: 700;
    font-style: normal;
}

blockquote {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    gap: 20px; 
    height: 100%;
    color: white;
}

blockquote span {
    padding-left: 5px; 
    padding-right: 5px; 
}

.partners-description {
    padding: 40px 0 20px 0; 
    display: flex;
    flex-direction: column;
    gap: 20px; 
    align-items: center;
}

.text-upp {
    text-transform: uppercase;
}

.section-title {
    color: var(--purple);
    font-size: 34px; 
}

.section-text {
    text-align: center; 
}

/*Media-query*/

/*Tablet*/

@media (max-width: 768px) {
    .ham-icon {
        display: inline-block;
    }

    .navbar-list {
        display: none;
    }

    .col img {
        width: 60px; 
    }

    /*hero*/

    .col-6 {
        flex-basis: 100%; 
    }

    /*planning*/

    .col-wide {
        padding-top: 5px; 
    }

}

/*Mobile*/

@media (max-width: 576px) {
    .ham-icon {
        display: inline-block;
    }

    .navbar-list {
        display: none;
    }

    .col img {
        width: 60px; 
    }

        /*hero*/

        .col-12, .col-8, .col-6, .col-4 {
            flex-basis: 100%; 
        }

}

/* debug */

.debug .container,
.debug .container-medium,
.debug .container-small  {
    border: 1px solid var(--yellow);
    padding: 10px;
}

.debug .row {
    border: 1px solid var(--purple);
    padding: 10px;
}
.debug [class^="col"] {
    border: 1px solid orange;
    padding: 10px;
}



