/* Default settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

ul,
ol,
menu {
    list-style: none;

}

img {
    width: 100%;
}


a {
    text-decoration: none;
    color: currentColor;
    display: inline-block;
}
/* palette colori */

:root {
    --blue:#0084FD;
    --light-blue:#B5DDFF;
    --purple:#9792E4;
    --yellow:#FDC15F;
    --dark-grey:#333333;
    --light:#FFFFFF;

}
/* layouts */

.container {
    max-width: 1164px;
    margin: 0 auto;
}

.container-medium {
    max-width: 1050px;
    margin: 0 auto;
}

.container-small {
    max-width: 880px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}


.col, *[class^='col-'] {
    padding: 12px; 
}

.col-2 {
    flex-basis: calc((100% / 12) * 2);
}

.col-4 {
    flex-basis: calc((100% / 12) * 4);
}

.col-6 {
    flex-basis: calc((100% / 12) * 6);
}

.col-8 {
    flex-basis: calc((100% / 12) * 8);
}

.col-12 {
    flex-basis: calc((100% / 12) * 12);
}

/* component classes */

.button {
    color: black;
    line-height: 40px;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    padding: 0 18px;
    display: inline-block;
}

/* header */
.page-header {
    background-color: var(--blue);
}

.navbar-list {
    display: flex;
    gap: 22px;
    align-items: center;
}

.page-header .row {
    justify-content: space-between;
    align-items: center;
}

.ham-icon {
    display: none; 
    color: white; 
    font-size: 20px; 
}

/*Hero*/

.card {
    background-color: var(--light-blue);
    border-radius: 20px;
    height: 100%; 
}

.card-title {
    font-size: 2em;
    color: var(--blue); 
    padding: 15px 10px; 
    text-align: center;
}

.card-text {
    font-weight: 700;
    padding: 15px 10px; 
}

.img {
    display: block; 
    width: 250px;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.card-icon {
    font-size: 100px; 
    color: var(--blue);
    padding-top: 20px; 
}

.hero .col-4 {
    text-align: center;
}

/*Section planning*/

.planning {
    background-color: var(--purple);
    padding: 80px 0px 50px 0px; 
}

.planning .card-title {
    text-align: left; 
}

.white-card {
    background-color: var(--light);
}

.planning .col-6 {
    padding-left: 18px; 
    padding-right: 18px; 
}

.col-wide {
    padding: 100px 18px 0px 18px; 
}

.planning .card, .planning .card .card-title {
    text-align: center;
    color: black;
}

.arrow {
    background-color: var(--purple);
    padding: 10px 16px; 
    font-size: 15px; 
    border-radius: 50%; 
    margin-bottom: 20px;
}

/*Section partners*/

.purple-card {
    background-color: var(--purple);
    padding: 10px; 
}

.round {
    border-radius: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    width: 250px;
}

cite {
    text-transform: uppercase;
    font-weight: 700;
    font-style: normal;
}

blockquote {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    gap: 20px; 
    height: 100%;
    color: white;
}

blockquote span {
    padding-left: 5px; 
    padding-right: 5px; 
}

.partners-description {
    padding: 40px 0 20px 0; 
    display: flex;
    flex-direction: column;
    gap: 20px; 
    align-items: center;
}

.text-upp {
    text-transform: uppercase;
}

.section-title {
    color: var(--purple);
    font-size: 34px; 
    text-align: center;
}

.section-text {
    text-align: center; 
}

.partners .col-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.partners {
    margin-bottom: 60px; 
}

/*Section benefits*/

.benefits {
    background-color: var(--purple);
    padding: 35px 0; 
}

.benefits .row:first-child {
    justify-content: center;
    padding-bottom: 35px; 
}

.benefits .card {
    padding: 25px; 
}

.benefits .card-icon {
    padding-top: 0;
}

.benefits .card-title {
    text-align: left; 
}

.benefits .button {
    background-color: var(--purple);
    padding: 0 40px; 
    color: white; 
}

/*section About-us*/

.about-us {
    padding: 60px 0; 
}

.icon {
    font-size: 90px; 
    font-weight: 900; 
    position: absolute; 
    right: 0px; 
    top: -30px; 
}

.img-box {
    max-height: 50%;
    margin-bottom: 10px; 
    position: relative;
    width: 250px;
    margin: 0 auto;
}

.about-us .section-title {
    font-size: 60px;
}

.about-us .card-title {
    padding: 10px 0; 
    text-align: left;
    margin-bottom: 20px; 
}

.about-us .button {
    background-color: var(--purple);
    color: white; 
}

.about-us .col-8 {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    gap: 40px; 
    padding-right: 40px; 
}

.about-us .col-4 {
    padding-left: 40px;
    padding-top: 40px;  
}

.about-text {
    line-height: 2em;
}


/*Section free*/

.free {
    background-color: var(--purple);
    padding: 20px; 
    color: white; 
}

.free-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 15px; 
    width: 100%;
}

.title-yellow {
    color: var(--yellow);
    font-size: 60px;
    font-weight: 900;
}

.p-fit {
    max-width: 600px; 
}

.free .button {
    padding: 0 40px; 
    color: var(--purple);
}


/* utility classes */

.no-padding {
    padding: 0; 
}

.fluid {
    height: 100%;
}

.white-text {
    color: var(--light)
}

.purple-text {
    color: var(--purple);
}

.a-normal {
    text-decoration: underline;
}

/*Footer*/

.footer {
    background-color: var(--dark-grey);
    color: white; 
    padding: 50px 0; 
}

.footer .container-small {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 60px; 
}

.footer-text {
    text-align: center; 
}


/*Media-query*/

/*Tablet*/

@media (max-width: 768px) {
    .ham-icon {
        display: inline-block;
    }

    .navbar-list {
        display: none;
    }

    .col img {
        width: 60px; 
    }

    /*hero*/

    .col-6 {
        flex-basis: 100%; 
    }

    /*planning*/

    .col-wide {
        padding-top: 5px; 
    }

    /*Section benefits*/
    .benefits .col-4 {
        flex-basis: 50%; 
    }

    /*Section About-us*/
    .about-us .row {
        flex-wrap: nowrap;
    }

    .about-us .col-8 {
        padding-left: 20px; 
    }

    .about-us .col-4 {
        padding-right: 20px; 
    }


}

/*Mobile*/

@media (max-width: 576px) {
    .ham-icon {
        display: inline-block;
    }

    .navbar-list {
        display: none;
    }

    .col img {
        width: 60px; 
    }

        /*hero*/

        .col-12, .col-8, .col-6, .col-2, .col-4 {
            flex-basis: 100%; 
        }

        /*Benefits*/
        .benefits .col-4 {
            flex-basis: 100%; 
        }

    /*Partners*/

    .partners .col-2 {
        max-width: 50%;
    }

    .partners .card .row {
        justify-content: center;
    }

    .partners .col-8 {
        justify-content: center;
    }

    cite {
        text-align: center;
    }

    /*About-us*/
    .about-us .row {
        flex-wrap: wrap;
    }

}

/* debug */

.debug .container,
.debug .container-medium,
.debug .container-small  {
    border: 1px solid var(--yellow);
    padding: 10px;
}

.debug .row {
    border: 1px solid var(--purple);
    padding: 10px;
}
.debug [class^="col"] {
    border: 1px solid orange;
    padding: 10px;
}



